@font-face {
  font-family: 'Trajan Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Trajan Pro Regular'), url('TrajanPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Trajan Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Trajan Pro Bold'), url('TrajanPro-Bold.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Trajan Pro Regular';
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

a {
  color: white;
}

.container {
  width: 90%;
  height: fit-content;
  border-radius: 20px;
  background-color: rgb(33, 68, 101);
  text-align: center;
  padding: 10px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.contact .contactCard {
  margin: 0 10px;
}

.contact .contactCard a {
  display: block;
}

.contact .contactCard img {
  width: 50px;
}

ul {
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

li {
  margin: 10px;
}

#Proyectos .listaProyectos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#Proyectos .listaProyectos .cartaDeProyecto {
  margin: 5px 30px;
  border-radius: 5px;
}

#Proyectos .listaProyectos .cartaDeProyecto img {
  width: 300px;
  height: auto;
  border-radius: 4px;
}

#Proyectos .listaProyectos .cartaDeProyecto .opcionesDeProyecto {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

#Proyectos .listaProyectos .cartaDeProyecto .opcionesDeProyecto .liveCode,
#Proyectos .listaProyectos .cartaDeProyecto .opcionesDeProyecto .sourceCode {
  margin: 5px 20px;
}

#Proyectos .listaProyectos .cartaDeProyecto .opcionesDeProyecto .liveCode a,
#Proyectos .listaProyectos .cartaDeProyecto .opcionesDeProyecto .sourceCode a {
  display: block;
}

#Proyectos .listaProyectos .cartaDeProyecto .opcionesDeProyecto img {
  width: 20px;
  height: 20px;
}

#tecnologias .lista {
  display: flex;
  justify-content: center;
}

#tecnologias .lista .listaTecnologias {
  margin: 10px 50px;
}

#tecnologias .lista .listaTecnologias .tecnologia img {
  width: 50px;
}

#sobremi p {
  font-size: 20px;
  margin: auto;
  width: 100%;
}

.github {
  background-color: white;
  border-radius: 100%;
  padding: 1px;
}
